%h1= @article.title
%p= @article.content

= form_with url: article_comments_path(@article) do |form|
  = form.label :email
  = form.text_field :email
  = form.label :comment
  = form.text_field :comment
  = form.submit 'Create Comment'


- if @article.comments.any?
  - @article.comments.each do |comment|
    %p= "Commented by: #{comment.email}"
    %p= comment.content