%article
  %h2= @article.title
  %p= @article.content

= form_with url: article_comments_path(@article), scope: :comment do |form|
  %p= form.label :email
  = form.text_field :email, id: 'comment_email'
  %p= form.label :content, 'Comment'
  = form.text_area :content, cols: 50, rows: 5, id: 'comment_content'
  = form.submit 'Create Comment'

- if get_comments(@article).any?
  - get_comments(@article).each do |comment|
    %p= "Commented by: #{comment.email.empty? ? 'anonymous' : comment.email}"
    %p= comment.content
    - if current_user.can?(:moderate, comment)
      = link_to 'Approve', article_comment_path(@article, comment, transition: :approve), method: :put if comment.submitted?
      = link_to 'Reject', article_comment_path(@article, comment, transition: :reject), method: :put if comment.submitted?