%h2= @article.title
%p= @article.content

= form_with url: article_comments_path(@article) do |form|
  %p= form.label :email
  = form.text_field :email
  %p= form.label :comment
  = form.text_area :comment, cols: 50, rows: 5
  = form.submit 'Create Comment'

- if @article.comments.any?
  - @article.comments.each do |comment|
    %p= "Commented by: #{comment.email.empty? ? 'anonymous' : comment.email}"
    %p= comment.content