%h2= @article.title
%p= @article.content

= form_for [@article, @comment] do |form|
  = form.label :email
  = form.email_field :email
  = form.label :body, 'Comment'
  = form.text_field :body
  = form.submit

- @article.comments.each do |comment|
  = comment.body
  = "Comment by: #{comment.email}"
